@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.card-container{
    
    align-items: center;
    max-width: 880px;
    height: 400px;
    overflow-y: auto;
    
    padding: 30px;
    margin-left: 20rem;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(25, 23, 23, 0.5);
}

input{
  background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.cards{
    background-color: white;
    
    color: rgb(109, 127, 106);
    border: 1px solid rgb(99, 91, 91);
    margin: 20px;
    padding: 20px ;
    border-radius: 30px;
   
}
.be-balck{
    color: rgb(79, 52, 52);
   
}

.popup-confirm{
    width: 30%;
    height: fit-content;
    position: fixed;
    justify-content: center;

    /* background-color: #333; */
    padding: 15px;
    border: black;
    
    box-sizing: border-box;
    background-color: #efe6e6;
   
    display: none;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 15;

    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   
  }

  

  .btn{
      display: inline;
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: bold;
      border-radius: 5px;
      border: none;
      background-color: #fff;
      color: #333;
      cursor: pointer;
  }
  .btn:hover{
    transform: scale(1.1,1.1);
  }
  .cancel-button{
    margin:1rem 0 1rem 0.5rem;
  }
  .confirm-button{
    margin:1rem 0 1rem 7rem;
  }


  
   
  .popup-content {
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
  }
  
  .popup-content h2 {
    
    color: #333;
    font-size: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 10px;
   
    color: #333;
  }
  
  .form-group input, .form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }

  
  .form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/></svg>') no-repeat right 10px center/12px;
  }
  
  .form-group select:focus {
    outline: none;
  }
  

  
  .blur { filter: blur(5px); }

  .input-box{
    border-radius: 20px;
  }

  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  .farmerDetails{
    width: 80%;
    margin-left: 5rem;
  }