@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.inline-elements{
    display: inline-block;
}
.header-text{
    
    text-align: left;
    text-decoration: none;
    font: normal normal 400 30px/50px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


.homepage{
    width: 100%;
}
.section-green{
    background-color: #617143;
    height: auto;
}
.section-light{
    background-color: #DF7857;
    /* background-color: #E7AB9A; */
    /* background-color: #5D9C59; */
}

nav ul{
    float: right;
    margin-right: 20px;
}nav ul li{
   display: inline-block;
   line-height: 80px;
   
   margin: 17px 15px;
}
.grow_planet{
    display: inline-block;
    text-align: left;
    text-decoration: none;
    font: normal normal 500 40px/53px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 22px;
}
.brand-image{
    
    margin: 0px 5px 15px 20px;
    padding: 10px;
}
.welcome-text{
    margin-left: 10%;
    display: inline-block;
}
.plant-image{
    display: inline-block;
    position: relative;
    width: 10rem;
    margin-top: 50px;
    width:30%;
    left:20%;
    margin-bottom: 50px;
}
.book-image{
    display: inline-block;
    position: relative;
    width: 30%;
    left:15%;
}
.first-section-text-div{
    position: relative;
    left: 15%;
    top: 5rem;
    
}
.first-section-text{
    
    font: normal normal 800 4rem/4rem Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    
    left: 10%;
}
.second-section-text-div{
    position: relative;
    left: 15%;
    top: 8rem;
    margin-left: 9rem;
    
}
.second-section-text{
    
    font: normal normal 800 70px/60px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

    
    left: 10%;
}

.image-footer{
    position: relative;
    width: 3%;
    margin: 20px 5px 20px 5px;
   
}
    
    

@media only screen and (min-width: 768px) and (max-width: 1024px) {

   
    .homepage {
      width: 90%;
      margin: 0 auto;
    }
  
   
    .plant-image {
      width: 50%;
      left: 25%;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    
    .book-image {
      width: 40%;
      left: 30%;
    }
   
    .first-section-text-div {
      left: 10%;
    }
  
    
    .second-section-text-div {
      left: 10%;
      top: 10rem;
      margin-left: 0;
    }
  
    
    .image-footer {
      width: 5%;
    }
  }
  
  
  @media only screen and (max-width: 767px) {
  
   
    .homepage {
      width: 90%;
      margin: 0 auto;
    }
  
   
    .plant-image {
      width: 70%;
      left: 15%;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
   
    .book-image {
      width: 60%;
      left: 20%;
    }
  
   
    .first-section-text-div {
      left: 10%;
      top: 2rem;
    }
  
    
    .second-section-text-div {
      left: 10%;
      top: 10rem;
      margin-left: 0;
    }
  
   
    .image-footer {
      width: 10%;
    }
  }
  