@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.plant {
    background-color: white;
    opacity: 95%;
    padding: 20px;
    margin: 50px auto;
    max-width: 1200px;
    height: 450px;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: justify;
    line-height: 1.5;
    overflow: auto;
}

h1 {
    text-align: center;
    color: #ff6347;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
    font-size: 18px;
}
#plant-brand{
    color: white;
    margin-top: 2rem;
    text-align: center;
    margin-left: 5rem;
    
    
}
#plant-brand-text{
    font:  normal normal 700 70px/50px Segoe UI;;
    margin-bottom: 1rem;
    text-shadow: 3rem;
    -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #E7B10A;
  letter-spacing: 1.5rem;
}

.col{
    font:  normal normal 300 30px/40px Segoe UI;
}
.col-name{
    font:  normal normal 350 40px/20px Segoe UI;
}
