

.animated-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/images/background.jpg');
    background-position: center;
    background-size: cover;
    
    
    
   
}
.search-box {
    margin: 50px auto;
    width: 50%;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 100px;
    box-shadow: 0px 0px 5px #ccc;
    display: flex;
    align-items: center;
    border: none;
}
.search-box input[type="text"] {
    flex: 1;
   
    
    border: none;
    background-color: transparent;
    font-size: 16px;
   
    padding: 5px;
    outline: none;
}
.search-box button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 100px;
    margin-left: 470px;
    cursor: pointer;
}
.search-box button i {
    margin-right: 5px;
}

#plantopedia-brand{
    color: white;
    margin-top: 5rem;
    text-align: center;
    margin-left: 2.5rem;
    
    
}
#plantopedia-brand-text{
    font:  normal normal 700 100px/50px Segoe UI;
    margin-bottom: 8rem;
    text-shadow: 3rem;
    -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #E7B10A;
  letter-spacing: 1.5rem;
}