

.inline-elements{
    display: inline-block;
}
.header-text{
    
    text-align: left;
    text-decoration: none;
    font: normal normal 400 30px/50px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


.homepage{
    width: 100%;
}


nav ul{
    float: right;
    margin-right: 20px;
}nav ul li{
   display: inline-block;
   line-height: 80px;
   
   margin: 17px 15px;
}
.grow_planet{
    display: inline-block;
    text-align: left;
    text-decoration: none;
    font: normal normal 500 40px/53px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 22px;
}
.brand-image{
    margin: 0px 5px 15px 20px;
    padding: 10px;
}


    

.animated-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/images/background.jpg');
    background-position: center;
    background-size: cover;
    
    
    
   
}


#plantopedia-brand{
    color: white;
    margin-top: 3rem;
    text-align: center;
    margin-left: 2.5rem;
    
    
}
#plantopedia-brand-text{
    font:  normal normal 700 80px/40px Segoe UI;
    margin-bottom: 5rem;
    text-shadow: 3rem;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #E7B10A;
    letter-spacing: 1.5rem;
}

.plant {
    background-color: white;
    
    padding: 10px;
    margin: 10px auto 0px auto;
    max-width: 700px;
    height: 400px;
    align-items: center;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: justify;
    line-height: 1.5;
    overflow: auto;
}



h1 {
    text-align: center;
    font-size: 2rem;
    margin: 20px;
  }
  
  label {
    font:  normal normal 400 20px/10px Segoe UI;
    display: block;
    margin: 20px;
    font-weight: bold;
    color: #555;
    
  }
  
  input[type="number"], input[type="text"], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  input[type="submit"] {
    font:  normal normal 400 20px/10px Segoe UI;
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2rem 0;
    height: 50px;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: white;
    border: 2px solid #007bff;
    color: #007bff;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .result {
    margin-top: 20px;
    animation: fadeIn 0.5s;
  }
  
  .result h2 {
    margin-bottom: 10px;
  }
  
  .result p {
    margin-bottom: 5px;
  }
  .form-btn{
    font:  normal normal 400 20px/10px Segoe UI;
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2rem auto 0 15rem;
    height: 50px;
    transition: background-color 0.3s;
    
  }
  .form-btn:hover{
    background-color: white;
    border: 2px solid #007bff;
    color: #007bff;
  }